@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';

.section {
    min-height: 100vh;
}

.header__top {
    background: $background;
    color: #fff;
    min-height: 85px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__work-time span {
    padding-left: 10px;
}

.header__user-list {
    display: flex;
}

.header__phone {
    padding-bottom: 13px;
    color: #fff;
}

.header__phone-text {
    font-size: 16px;
    color: $accent;
    text-decoration: underline;
    padding-left: 5px;
}

.header__sum-text {
    margin: 10px 0;
}

.heder__user-link {
    width: 32px;
    height: 32px;
    position: relative;
}

.cart__num {
    position: absolute;
    color: #fff;
    top: -6px;
    right: -8px;
    background-color: #F05A00;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    line-height: 12px;
    border-radius: 50%;
    font-size: 16px;
}

.header__user-item {
    padding: 25px 28px;
    transition: 0.3s;
}

.header__user-item:hover {
    background: $accent;
}

.header__bottom {
    background-color: $black;
    color: #fff;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}

.menu__list {
    display: flex;
}

.menu__link {
    color: #fff;
    transition: 0.3s;
}

.menu__link:hover {
    color: $accent;
}

.menu__item+.menu__item {
    margin-left: 30px;
}

.social-list {
    display: flex;
}

.social-list__item+.social-list__item {
    margin-left: 15px;
}

.header__search {
    background-color: #fff;
    position: relative;
}

.header__search-form {
    min-width: 300px;
    width: 100%;
}

.header__search-input {
    border: none;
    height: 40px;
    width: 100%;
    padding-left: 10px;
}

.header__search-btn {
    border: none;
    background-color: #fff;
    position: absolute;
    top: 7px;
    right: 10px;
}

.footer {
    background-color: $background;
}

.footer__inner {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.footer__item {
    width: 220px;
    padding-right: 15px;
}

.footer__list-item a {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer__useragreement {
    color: #fff;
    font-size: 14px;
}

.footer__telephon {
    margin-bottom: 10px;
    margin-left: 10px
}

.footer__social {
    margin-left: 30px;
    margin-bottom: 10px;
}

.footer__social-item+.footer__social-item {
    margin-left: 30px;
}

.banner {
    background-color: $background;
}

.banner__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    max-height: 540px
}

.banner__item-main {
    max-width: 640px;
    margin-right: 15px;
    position: relative;
}

.banner__main-title {
    position: absolute;
    width: 560px;
    font-size: 38px;
    line-height: 48px;
    top: 0;
    padding: 0 30px;
    color: #fff;
}

.banner__item-main img {
    width: 610px;
    min-height: 480px;
    position: relative;
}

.banner__arrow {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #000;
    bottom: 4.8px;
    border-top-right-radius: 6px;
    transition: 0.3s;

}

.banner__link:hover {
    .banner__arrow {
        background-color: $accent;
    }
}

.banner__arrow:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../images/icon/arrow-right.svg');
    top: 15px;
    left: 15px;
}

.banner__link-catalog {
    position: absolute;
    text-transform: uppercase;
    top: 300px;
    left: 20px;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    background-color: $accent;
    border-radius: 5px;
}

.banner__item-medium {
    max-width: 310px;
    margin-right: 15px;
    position: relative;
}

.banner__item-medium img {
    min-height: 480px;
    width: 297px;
}

.banner__medium-title {
    position: absolute;
    top: 0;
    padding-left: 15px;
    color: #fff;

}

.banner__item-small {
    max-width: 310px;
}

.banner__small-one {
    position: relative;
}

.banner__small-one img {
    width: 297px;
    padding-bottom: 14px;
    min-height: 237px;
}

.small-one {
    bottom: 18.7px;
}

.banner__one-title {
    position: absolute;
    top: 0;
    padding-left: 15px;
    color: #fff;
}

.banner__small-two {
    position: relative;
}

.banner__two-title {
    position: absolute;
    top: 0;
    padding-left: 15px;
    color: #fff;
}

.banner__small-two img {
    width: 297px;
    min-height: 237px;
    display: inline;
    text-align: center;
}

.product {
    background-color: #F2F5F7;
    padding: 80px 0;
}
.product__inner{
    display:flex;
    justify-content:space-between;
}
.product__item {
    max-width: 310px;
    height: 340px;
    position: relative;
}

.product__compare {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    right: 45px;
    z-index: 2;
    border: none;
    background-color: transparent;
}

.product__compare::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url('../images/icon/compare-product.svg');
}

.product__compare--active::before {
    background-image: url('../images/icon/compare-product--active.svg');
}

.product__heart {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    right: 15px;
    z-index: 2;
    border: none;
    background-color: transparent;
}

.product__heart::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url('../images/icon/heart-product.svg');
}

.product__heart--active::before {
    background-image: url('../images/icon/heart-product--active.svg');
}

.product__cart {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55px;
    height: 50px;
    z-index: 2;
    background-color: transparent;
    border: 1px solid $accent;
    border-top-left-radius: 6px;
}

.product__cart::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    top: 5px;
    left: 10px;
    background-image: url('../images/icon/product-card.svg');
}

.product__cart--active::before {
    background-image: url('../images/icon/product-card--active.svg');
}

.product__one {
    max-width: 310px;
    height: 340px;
    background-color: #fff;
    position: relative;
}

.product__one--new::before {
    content: 'Новинка';
    position: absolute;
    padding: 5px;
    font-size: 16px;
    color: #fff;
    background-color: $blue;
    top: 0;
    left: 0;
}

.product__one img {
    padding: 10px 50px;
    padding-top: 30px;
}

.product__one-title {
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px;
    line-height: 16px;
    color: #000;
}

.product__price {
    padding: 0 20px;
    font-size: 18px;
    display: flex;
}

.product__price-new {
    margin-right: 10px;
    font-weight: bold;
    color: #000;
}

.product__price-old {
    margin-right: 50px;
    color: $grey;
    font-size: 16px;
    position: relative;
    background-image: url('../images/icon/old-line.svg');
    background-repeat: no-repeat;
}

.product__notify {
    font-size: 16px;
    color: $green;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/icon/check.svg');
        width: 16px;
        height: 16px;
        top: 4px;
        left: -17px;
    }
}

.product__slide1 {
    display: flex;
    justify-content: space-between;
}