@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';

.section {
    min-height: 100vh;
}

.header__top {
    background: $background;
    color: #fff;
    min-height: 85px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__work-time span {
    padding-left: 10px;
}

.header__user-list {
    display: flex;
}

.header__phone {
    padding-bottom: 13px;
    color: #fff;
}

.header__phone-text {
    font-size: 16px;
    color: $accent;
    text-decoration: underline;
    padding-left: 5px;
}

.header__sum-text {
    margin: 10px 0;
}

.heder__user-link {
    width: 32px;
    height: 32px;
    position: relative;
}

.cart__num {
    position: absolute;
    color: #fff;
    top: -6px;
    right: -8px;
    background-color: #F05A00;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 12px;
    border-radius: 50%;
    font-size: 16px;
}

.header__user-item {
    padding: 25px 28px;
    transition: 0.3s;
}

.header__user-item:hover {
    background: $accent;
}

.header__bottom {
    background-color: $black;
    color: #fff;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}

.header__menu-catalog {
    padding: 15px 5px 15px 55px;
    border: 1px solid $black;
    transition: 0.3s;
    cursor: pointer;
    position: relative;

    &:hover {
        border: 1px solid $accent;
    }

    &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 16px;
        top: 22px;
        left: 10px;
        background-image: url('../images/icon/burger.svg');
    }
}


.menu__list {
    display: flex;
}

.menu__link {
    color: #fff;
    transition: 0.3s;
}

.menu__link:hover {
    color: $accent;
}

.menu__item+.menu__item {
    margin-left: 30px;
}

.social-list {
    display: flex;
}

.social-list__item+.social-list__item {
    margin-left: 15px;
}

.header__search {
    background-color: #fff;
    position: relative;
}

.header__search-form {
    min-width: 300px;
    width: 100%;
}

.header__search-input {
    border: none;
    height: 40px;
    width: 100%;
    padding-left: 10px;
}

.header__search-btn {
    border: none;
    background-color: #fff;
    position: absolute;
    top: 7px;
    right: 10px;
}

.footer {
    background-color: $background;
}

.footer__inner {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.footer__item {
    width: 220px;
    padding-right: 15px;
}

.footer__list-item a {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer__useragreement {
    color: #fff;
    font-size: 14px;
}

.footer__telephon {
    margin-bottom: 10px;
    margin-left: 10px
}

.footer__social {
    margin-left: 30px;
    margin-bottom: 10px;
}

.footer__social-item+.footer__social-item {
    margin-left: 30px;
}

.banner {
    background-color: $background;
}

.banner__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    max-height: 540px
}

.banner__item-main {
    max-width: 640px;
    margin-right: 15px;
    position: relative;
}

.banner__main-title {
    position: absolute;
    width: 560px;
    font-size: 38px;
    line-height: 48px;
    top: 0;
    padding: 0 30px;
    color: #fff;
}

.banner__item-main img {
    width: 610px;
    min-height: 480px;
    position: relative;
}

.banner__arrow {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #000;
    bottom: 4.8px;
    border-top-right-radius: 6px;
    transition: 0.3s;

}

.banner__link:hover {
    .banner__arrow {
        background-color: $accent;
    }
}

.banner__arrow:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../images/icon/banner-arrow.svg');
    top: 15px;
    left: 15px;
}

.banner__link-catalog {
    position: absolute;
    text-transform: uppercase;
    top: 300px;
    left: 20px;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    background-color: $accent;
    border-radius: 5px;
}

.banner__item-medium {
    max-width: 310px;
    margin-right: 15px;
    position: relative;
}

.banner__item-medium img {
    min-height: 480px;
    width: 297px;
}

.banner__medium-title {
    position: absolute;
    top: 0;
    padding-left: 15px;
    color: #fff;

}

.banner__item-small {
    max-width: 310px;
}

.banner__small-one {
    position: relative;
}

.banner__small-one img {
    width: 297px;
    padding-bottom: 14px;
    min-height: 237px;
}

.small-one {
    bottom: 18.7px;
}

.banner__one-title {
    position: absolute;
    top: 0;
    padding-left: 15px;
    color: #fff;
}

.banner__small-two {
    position: relative;
}

.banner__two-title {
    position: absolute;
    top: 0;
    padding-left: 15px;
    color: #fff;
}

.banner__small-two img {
    width: 297px;
    min-height: 237px;
    display: inline;
    text-align: center;
}

.product {
    background-color: #F2F5F7;
    padding: 80px 0;
}

.product__item {
    max-width: 310px;
    height: 340px;
    position: relative;

    &:hover {
        box-shadow: 0px 5px 10px 3px rgba(34, 60, 80, 0.2);
    }

}

.product__items {
    margin-top: 70px;
}

.product__items:first-child {
    margin-top: 0;
}

.product__compare {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    right: 45px;
    z-index: 2;
    border: none;
    background-color: transparent;
}

.product__compare::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url('../images/icon/compare-product.svg');
}

.product__compare--active::before {
    background-image: url('../images/icon/compare-product--active.svg');
}

.product__heart {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    right: 15px;
    z-index: 2;
    border: none;
    background-color: transparent;
}

.product__heart::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url('../images/icon/heart-product.svg');
}

.product__heart--active::before {
    background-image: url('../images/icon/heart-product--active.svg');
}

.product__cart {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55px;
    height: 50px;
    z-index: 2;
    background-color: transparent;
    border: 1px solid $accent;
    border-top-left-radius: 6px;
}

.product__cart::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    top: 5px;
    left: 10px;
    background-image: url('../images/icon/product-card.svg');
}

.product__cart--active::before {
    background-image: url('../images/icon/product-card--active.svg');
}

.product__one {
    max-width: 310px;
    height: 340px;
    background-color: #fff;
    position: relative;

}


.product__one--new::before {
    content: 'Новинка';
    position: absolute;
    padding: 5px;
    font-size: 16px;
    color: #fff;
    background-color: $blue;
    top: 0;
    left: 0;
}

.product__one--action::before {
    content: 'Акция';
    position: absolute;
    padding: 5px;
    font-size: 16px;
    color: #fff;
    background-color: $accent;
    top: 0;
    left: 0;
}

.product__one img {
    padding: 10px 50px;
    padding-top: 30px;
}

.product__one-title {
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px;
    line-height: 16px;
    color: #000;
}

.product__price {
    padding: 0 20px;
    font-size: 18px;
    display: flex;
}

.product__price-new {
    margin-right: 10px;
    font-weight: bold;
    color: #000;
}

.product__price-old {
    margin-right: 50px;
    color: $grey;
    font-size: 16px;
    position: relative;
    background-image: url('../images/icon/old-line.svg');
    background-repeat: no-repeat;
}

.product__notify {
    font-size: 16px;
    color: $green;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/icon/check.svg');
        width: 16px;
        height: 16px;
        top: 4px;
        left: -17px;
    }
}

.product__slide1 {
    display: flex;
    justify-content: space-between;
}

.product-section__slider-btnprev {
    position: absolute;
    top: 40%;
    left: -60px;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.product-section__slider-btnnext {
    position: absolute;
    top: 40%;
    right: -55px;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.brend--slide-prev {
    top: 20%;
    left: -70px;
}

.brend--slide-next {
    top: 20%;
    right: -65px;
}

.product-section__slider-btn {
    padding: 10px 17px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    transition: 0.3s;

    &:hover {
        background-color: $accent;
    }
}

.brend {
    padding: 35px 0 40px;
    background-color: $background;
}

.brend__title {
    color: #fff;
}

.aboutus {
    padding: 80px 0;
    background-color: $background-white;
}

.aboutus__img {
    max-width: 640px;
    margin-right: 120px;
}

.aboutus__inner {
    display: flex;
}

.aboutus__title {
    margin: 0;
}

.aboutus__text {
    font-size: 16px;
}

.aboutus__link {
    color: #fff;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: $background;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
        background-color: $accent;
    }
}


.tab__top {
    background-color: $black;
}

.tab__slide-content {
    padding-top: 55px;
    padding-bottom: 25px;
    background-color: $background;
}

.products__tabs {
    padding: 20px 0;
}

.products__tab {
    color: #8A8A8A;
    transition: 0.3s;

    &+& {
        margin-left: 50px;
    }

    &:hover {
        color: $accent;
    }
}

.tab--active {
    color: #fff;
}

.tabs-content {
    display: none;
}

.tabs-content--active {
    display: block;
}

.relevance__link {
    color: $accent;
    font-size: 16px;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.news {
    background-color: $background-white;
}

.news__inner {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

.news__info {
    padding-right: 30px;
}

.news__info-text {
    width: 390px;
    font-size: 16px;
    padding-bottom: 30px;
}

.news__info-link {
    color: #fff;
    margin-top: 10px;
    padding: 15px 30px;
    background-color: $background;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
        background-color: $accent;
    }
}

.news__events {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news__events-subtitle {
    margin: 0;
    margin-top: 10px;
    color: #000;
}

.news__events-item {
    margin-bottom: 20px;
    max-width: 420px;
}

.news__events-date {
    font-size: 16px;
}

.footer__list-link {
    transition: 0.3s;

    &:hover {
        color: $accent;
    }
}

.breadcrumbs {
    margin: 20px 0 40px;
}

.breadcrumbs__list-item {
    display: inline-block;
    padding-right: 15px;
    margin-right: 4px;
    position: relative;
    font-size: 16px;
    line-height: 16px;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 4px;
        background-image: url("../images/icon/breadcrumbs-slash.svg");
        background-repeat: no-repeat;
        width: 8px;
        height: 12px;
        bottom: 2px;
    }
}

.breadcrumbs__list-item a {
    color: #8A8A8A;
}

.breadcrumbs__list-item:last-child a {
    color: #000;
}

.breadcrumbs__list-item:last-child::after {
    display: none;
}

.catalog__title {
    margin-bottom: 40px;
}

.body {
    background-color: $background-white;
}

.catalog__inner {
    background-color: #fff;
}

.catalog__chapter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $background-white;
}

.catalog__chapter-item {
    padding: 20px 140px;
    max-width: 430px;
    background-color: #fff;
    margin-bottom: 6px;
    border-radius: 4px;
    transition: 0.3s;
    color: #000;

    &:hover {
        background-color: $accent;
        color: #fff;
    }
}

.catalog__chapter-link {
    font-size: 16px;
    color: #000;
}

.catalog__product-inner {
    max-width: 1000px;
    margin: 0 auto;
}

.catalog__inner-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px 0 10px;
}

.catalog__product-item {
    max-width: 310px;
    background-color: $background-white;
    margin-bottom: 25px;
}

.catalog__product-img {
    padding: 50px;
}

.catalog__product-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background;
    color: #fff;
    transition: 0.3s;
}

.catalog__product-item:hover {
    .catalog__product-subtitle {
        background-color: $accent;
    }
}

.pagination {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 30px;
}

.pagination-list {
    display: flex;
    justify-content: center;
}

.pagination-list__item {
    padding: 6px 12px;
    border: 2px solid transparent;
    margin: 0 4px;
    font-size: 18px;
    line-height: 22px;
}

.pagination-list__item--active {
    padding: 6px 12px;
    border: 2px solid $accent;
    color: $accent;
}

.pagination-list__item a {
    display: block;
}

.filter {
    margin-bottom: 200px;
}

.filter__inner-inner {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.filter__inner {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    width: 100%;
}

.filter__title {
    margin-bottom: 40px;
}

.filter__wrapper {
    display: flex;
}

.filter__aside,
.filter__inner-aside {
    max-width: 300px;
    width: 100%;
    margin-right: 15px;

}

.filter__aside {
    .filter__aside-item {
        background-color: $background;
        width: 300px;
        border: none;
        border-bottom: 1px solid #D9D9D9;
        transition: 0.3s;

        &:hover {
            background-color: $accent;
        }
    }

    .filter__aside-title {
        margin: 0;
        color: #fff;
        padding: 22px 10px;
        position: relative;
        transition: 0.3s;


        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icon/filter-aside-arrow.svg');
            width: 9px;
            height: 16px;
            top: 26px;
            right: 30px;
        }

    }
}

.filter__aside-main {
    margin-top: 30px;
}

.filter__inner-aside {
    background-color: transparent;
}

.filter__product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 970px;
    width: 100%;
}

.filter__btn-span {
    font-weight: 700;
    margin-right: 20px;
}

.filter__option {
    width: 235px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
        outline: none;
    }

    padding: 5px 10px;
    border-radius: 6px;

}

.select::-ms-expand {
    display: none;
}

.filter-button img {
    width: 22px;
    height: 22px;
}

.filter__button {
    border: none;
    display: flex;
    align-items: center;
    opacity: 0.2;
}

.filter__btn {
    display: flex;
    align-items: center;
}

.filter__button--active {
    opacity: 1;
}

.product__filter {
    margin-bottom: 20px;
}

.product__item {
    .filter__line-inner {
        display: none;
    }

    &.filter__line {
        max-width: 970px;
        width: 100%;
        max-height: 170px;
        margin-bottom: 10px;
        background-color: #fff;

        .filter__grid-inner {
            display: none;
        }

        .filter__line-inner {
            display: block;
        }

        .filter__line-compare {
            right: 105px;
        }

        .filter__line-heart {
            right: 70px;
        }

        .filter__line-cart {
            top: 0;
            border-top-right-radius: 6px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 6px;
        }

        .filter__line-img img {
            width: 120px;
            height: 100px;
            padding: 0;
            margin-top: 40px;
            margin-left: 60px;
            margin-right: 60px;
        }

        .filter__line-link {
            height: 170px;
        }

        .filter__line-title {
            margin-top: 40px;
            width: 400px;
            padding: 0;
            margin-bottom: 15px;
        }

        .filter__line-text p {
            color: #000;
            margin: 0;
            width: 550px;
        }

        .filter__line-text {
            width: 700px;
        }

        .filter__line-wrapper {
            display: flex;
        }

        .filter__line-price {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            padding: 0;
        }

        .filter__line-price-all {
            display: flex;
        }

        .filter__line-price-old {
            margin: 0;
        }

        .filter__line-notify {
            margin-left: 15px;
        }
    }
}

.filter__wrapper {
    position: relative;
}

.filter__aside-drop {
    position: absolute;
    width: 900px;
    height: 400px;
    background-color: #fff;
    z-index: 100;
    top: 0;
    left: 300px;
    opacity: 0;
}

.filter__aside-drop--active {
    opacity: 1;
}

.filter__aside-more {
    height: 360px;
    width: 310px;
    margin: 20px 20px;
}

.filter__aside-more a {
    color: #000;
}